<!DOCTYPE html>
<html>
<head>
	<title>Add Speaker</title>
</head>
<body>
	<form action="/add_speaker" method="POST">
		<label>Speaker Name</label>
		<input type="text" name="speaker_name" placeholder="speaker name...">
		<label>Speaker Bio</label>
		<input type="text" name="speaker_bio" placeholder="speaker bio...">
        <label>Speaker Contact Info</label>
		<input type="text" name="speaker_info" placeholder="speaker information...">
		<button type="submit">Add</button>
	</form>
</body>
</html>
