<!DOCTYPE html>
<html>
<head>
	<title>Add Booking</title>
</head>
<body>
	<form action="/add_book" method="POST">
        <label>Booked Attendee</label>
        <select name="book_att_id">
            {% for data in attendees %}
            <option value="{{data.att_id}}">{{data.att_name}}</option>
            {% endfor %}
		<label>Booked Event</label>
        <select name="book_event_id">
            {% for data in events %} 
            <option value="{{data.event_id}}">{{data.event_name}}</option>
            {% endfor %}
        <label>Booked Venue</label>
        <select name="book_venue_id">
            {% for data in venues %}
            <option value="{{data.venue_id}}">{{data.venue_name}}</option>
            {% endfor %}
        <label>Registration Date</label>
		<input type="date" name="book_date">
		<button type="submit">Add</button>
	</form>
</body>
</html>
