<!DOCTYPE html>
<html>
    <head>
        <title>Event Management</title>
    </head>
    <body>
        <p><a href=/speaker_index>Speakers</a></p>
        <p><a href=/event_index>Events</a></p>
        <p><a href=/venue_index>Venues</a></p>
        <p><a href=/org_index>Organizations</a></p>
        <p><a href=/att_index>Attendees</a></p>
        <p><a href=/book_index>Bookings</a></p>
        <p><a href=/catering_index>Catering</a></p>
        <p><a href=/station_index>Stations</a></p>
    </body>
</html>